*.pyc
*.class
*.tmp
*.swp
.idea/
*.iml
.vscode/
*.sublime-project
*sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
*.log
__pycache__/
.cache/
.coverage
backup
breast_cancer_venv/
.pytest_cache
*tmp/
